body {
  background: #80eaff;
  background: linear-gradient(180deg, #80eaff 35%, #154f65 97%); }

#zen-intro {
  display: none; }

.page-wrapper {
  text-align: center;
  padding-top: 15%;
  padding-left: 35%;
  padding-right: 30%;
  /* background-image: url("foreground.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;  */ }

/* #zen-intro, #zen-participation, #zen-supporting {
    background-color: lightblue;
    text-align: center;
    padding-top: 20%;
    padding-left: 35%;
    padding-right: 35%;

    /* background-image: url("foreground.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;  */
#zen-preamble {
  color: blue !important; }

#zen-requirements {
  color: white !important; }

body:before {
  margin-left: -5.5rem;
  margin-top: -1rem;
  pointer-events: none;
  content: "";
  background-image: url("foreground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  /* top: 0;
    left: 0;*/
  width: 115%;
  height: 110%;
  z-index: 1; }

.designer-name {
  display: none !important; }

#design-selection {
  position: fixed;
  top: 3rem;
  right: 3rem;
  opacity: 1 !important;
  z-index: 3;
  margin-right: -2rem;
  width: 23%;
  display: block; }
  #design-selection ul {
    flex-wrap: wrap;
    justify-content: center; }
    #design-selection ul li {
      display: flex;
      list-style: none;
      font-size: 0.6em;
      margin: 1rem;
      color: #000;
      background: #ffc;
      display: block;
      height: 12em;
      width: 12em;
      text-align: center; }

footer {
  margin-bottom: 10rem; }

#design-archives {
  position: fixed;
  bottom: 17rem;
  margin-top: 0.1rem;
  opacity: 1 !important;
  z-index: 3;
  margin-left: -40rem;
  width: 23%; }
  #design-archives ul,
  #design-archives li {
    list-style: none;
    font-size: 0.8em;
    overflow: hidden;
    margin: 1em;
    padding: 2.3em; }
  #design-archives ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden; }
  #design-archives ul li a {
    word-break: break-word;
    text-decoration: none;
    color: #000;
    background: red;
    border-radius: 90%;
    height: 20em;
    width: 20em;
    padding: 1em;
    margin: 3rem; }

#zen-resources {
  position: fixed;
  bottom: 5rem;
  opacity: 1 !important;
  z-index: 3;
  margin-left: -40rem;
  width: 23%; }
  #zen-resources ul,
  #zen-resources li {
    list-style: none;
    font-size: 0.8em;
    overflow: hidden;
    padding: 1em; }
  #zen-resources ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden; }
  #zen-resources ul li a {
    word-break: break-word;
    text-decoration: none;
    color: #000;
    background: red;
    border-radius: 70%;
    height: 20em;
    width: 15em;
    padding: 0.5em;
    margin: 3rem; }

ol {
  list-style-type: none; }

ul {
  list-style-type: none; }

/*.css-zen-garden {
    
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "intro intro intro intro intro intro" ". . main-supporting main-supporting . ." ". . participation participation . ." "footer . benefits benefits . sidebar" "footer . requirements requirements . sidebar" "footer . . . . sidebar"; }

.intro {
    grid-area: intro;
    
}

#-zen-supporting {
    grid-area: main-supporting;
    
}

.participation {
    grid-area: participation;
}

.benefits {
    grid-area: benefits;
}

.requirements {
    grid-area: requirements;
}

footer {
    grid-area: footer;
}

aside {
    grid-area: sidebar;
}

  # sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
