.css-zen-garden {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
        "intro intro intro intro intro intro"
        ". main-supporting main-supporting main-supporting main-supporting ."
        ". participation participation participation participation ."
        "footer benefits benefits benefits benefits sidebar"
        "footer requirements requirements requirements requirements sidebar"
        "footer . . . . sidebar";
}

.intro {
    grid-area: intro;
}

.main-supporting {
    grid-area: main-supporting;
}

.participation {
    grid-area: participation;
}

.benefits {
    grid-area: benefits;
}

.requirements {
    grid-area: requirements;
}

footer {
    grid-area: footer;
}

aside {
    grid-area: sidebar;
}
