.css-zen-garden {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    
    
    grid-template-areas:
        "intro intro intro intro intro intro"
        ". . main-supporting main-supporting . ."
        ". . participation participation . ."
        "footer . benefits benefits . sidebar"
        "footer . requirements requirements . sidebar"
        "footer . . . . sidebar";
}

/*.intro {
    grid-area: intro;
    
}

#-zen-supporting {
    grid-area: main-supporting;
    
}

.participation {
    grid-area: participation;
}

.benefits {
    grid-area: benefits;
}

.requirements {
    grid-area: requirements;
}

footer {
    grid-area: footer;
}

aside {
    grid-area: sidebar;
}*/
